<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @artist.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @artist.last_name %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @artist.twitter_url %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @artist.facebook_url %>
</p>

<p>
  <strong>Behance url:</strong>
  <%= @artist.behance_url %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @artist.linkedin_url %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
